# emacs.d gitignore

*~
*.elc

/auto-save-list
/semanticdb
/bzr-cedet
/cedet
/url
/eshell
/tidy-html5
/ino

/history
/ac-comphist.dat
/srecode-map.el
/recentf

auto-install/*
!.gitkeep

elpa/*
!.gitkeep

el-get/*
!.gitkeep

backups/*
!.gitkeep

site-lisp/*
!.gitkeep

README.html
