# emacs.d gitignore

# ignore some files
*~
*.elc

# ignore some directories
/auto-save-list
/semanticdb
/bzr-cedet
/cedet
/url
/eshell
/tidy-html5
/ino
/history
/ac-comphist.dat
/srecode-map.el
/recentf
/snippets/temp-snippets
/node_modules
/.python-environments

# ignore some specific files
projectile-bookmarks.eld
ido.last
README.html
tramp

# keep some directories
auto-install/*
!.gitkeep

elpa/*
!.gitkeep

el-get/*
!.gitkeep

backups/*
!.gitkeep

site-lisp/*
!.gitkeep

junk/*
!.gitkeep

my-lisp/*
!.gitkeep